# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\PreProj_bootstrap_3.1.2-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
